:root {
  --bg-color: #ffffff;
  --card-bg-b: #000000;
  --card-hover-bg-b: #4d4d4d;
  --text-white: #fff;
  --text-lightgray: #c9c9c9;
  --primary-color: #00d46a;
  --playlist-height: 188px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

/* 상단 네비게이션 영역 */
.top-bar {
  position: relative;
  justify-content: left;
}

.back-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  opacity: 0.2;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.back-btn:hover {
  background-color: var(--card-hover-bg);
}

.page-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-weight: 300;
  font-size: 14px;
  color: var(--text-black);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 200px;
  text-align: center;
}

/* 복습 영역 */
.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--card-hover-bg);
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid #eee;
}

.review-status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dday-text.large {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-gray);
}
.dday-text.large.due {
  color: #ff5722;
}

.review-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.review-count .text {
  font-size: 10px;
  color: #888;
}

.review-count .count-value {
  font-size: 13px;
  font-weight: 700;
  color: var(--text-black);
}

/* 재생목록 썸네일 영역 */
.playlist-total-container {
  position: relative;
  width: 100%;
  height: var(--playlist-height);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

.playlist-thumbnail-area {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

.playlist-thumbnail-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000000;
}

.playlist-thumbnail-area::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* 재생목록 정보 */
.playlist-info-area {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 15px;
  color: var(--text-white);
  box-sizing: border-box;
}

.playlist-info-area h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

/* 재생 버튼 */
#playBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 11%;
  right: 4.7%;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  will-change: transform;

  transition: transform 0.2s, background-color 0.2s;
}

#playBtn:hover {
  transform: scale(1.1);
}

#playBtn svg {
  width: 32px;
  height: 32px;
  pointer-events: none;
}

/* 복습 완료 버튼 */
#completedBtn {
  position: absolute;
  top: 43%;
  right: 4.3%;
  background-color: white;
  color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
  border-radius: 15px;
  font-weight: normal;
  font-size: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background-color 0.2s;

  cursor: pointer;
}

#completedBtn:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
  color: white;
}

/* 영상 영역 */
#video-list-container {
  border-radius: 15px;
  border: 0.3px solid var(--text-lightgray);
  padding: 2px 7px 2px 7px;
}

.video-title {
  font-size: 14px;
  margin: 0 0 8px 0;
  color: var(--text-black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* modal 영역 */
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  opacity: 1;
  transition: opacity 0.2s;
}

.modal.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal .modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  padding: 24px 20px;
  background: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 1rem;
  margin: 20px 0 20px 0;
}
.modal-desc {
  font-size: 12px;
  color: var(--text-gray);
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4;
}
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons button {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.modal-buttons button:hover {
  transform: scale(1.05);
}

#modalConfirmBtn {
  background-color: var(--primary-color);
  color: white;
}

#modalCancelBtn {
  color: var(--text-gray);
}
