:root {
  --popup-width: 336px;
  --primary-color: #00d46a;
  --text-black: #3e3e3e;
  --text-gray: #4d4d4d;
  --border-color: #8f8f8f;
  --card-bg: #ffffff;
  --card-hover-bg: #e8e8e8;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: var(--popup-width);
  margin: 0;
  padding: 10px;
  -ms-overflow-style: none;
}

.top-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-weight: 300;
  font-size: 14px;
  color: #3e3e3e;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.filter-btn {
  width: 4.5em;
  border: 0.7px solid var(--border-color);
  border-radius: 5px;
  background-color: #ffffff;
}

.filter-btn:hover {
  background-color: var(--card-hover-bg);
}

.filter-btn.selected {
  background-color: var(--card-hover-bg);
}

/* playlist list container */
#playlist-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 150px;
}

/* 카드 */
.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 7px 7px 7px 4px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--card-hover-bg);
}

/* index */
.index {
  font-size: 10px;
  font-weight: lighter;
  color: var(--text-gray);
  width: 14px;
  text-align: center;
  margin-right: 4px;
  align-self: center;
}

/* 썸네일 */
.thumbnail-area {
  width: 100px;
  height: 56.25px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 8px;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
}

/* 재생목록 정보 */
.info-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  flex: 1;
  margin-right: 10px;
  min-width: 0;
}

.playlist-title {
  font-size: 14px;
  margin: 0 0 8px 0;
  color: var(--text-black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  font-size: 11px;
  color: var(--text-gray);
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 4px;
  flex-shrink: 0;
}

.review-badge {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
}

.badge-new {
  background-color: #9e9e9e;
}
.badge-in-progress {
  background-color: var(--primary-color);
}
.badge-due {
  background-color: #ff5722;
}
.badge-completed {
  background-color: #ffc107;
}

.dday-text {
  font-size: 10px;
  font-weight: lighter;
  color: var(--text-gray);
  white-space: nowrap;
}

.dday-text.due {
  color: #ff5722;
}

.msg {
  font-size: 14px;
  margin-top: 50px;
  text-align: center;
  color: var(--text-black);
}
