:root {
  --popup-width: 336px;
  --primary-color: #00d46a;
  --text-black: #363636;
  --text-gray: #4d4d4d;
  --card-bg: #ffffff;
  --card-hover-bg: #e8e8e8;
}

body {
  width: var(--popup-width);
  margin: 0;
  padding: 10px;
}

.top-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-weight: 300;
  font-size: 14px;
  color: #3e3e3e;
}

/* playlist list container */
#playlist-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 150px;
}

/* 카드 */
.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 7px 7px 7px 4px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--card-hover-bg);
}

/* index */
.index {
  font-size: 10px;
  font-weight: lighter;
  color: var(--text-gray);
  width: 14px;
  text-align: center;
  margin-right: 4px;
  align-self: center;
}

/* 썸네일 */
.thumbnail-area {
  width: 112px;
  height: 63px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 8px;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
}

/* 재생목록 정보 */
.info-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.playlist-title {
  font-size: 14px;
  margin: 0 0 8px 0;
  color: var(--text-black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  font-size: 11px;
  color: var(--text-gray);
  display: flex;
  align-items: center;
  gap: 5px;
}

#msg {
  font-size: 14px;
  margin-top: 50px;
  text-align: center;
  color: var(--text-black);
}
